<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/content/video.css")
    @Styles.Render("~/content/general.css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Zero To Hero", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Data Sciences
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>@Html.ActionLink("Python", "Python", "DataScience")</li>
                            <li>@Html.ActionLink("Machine Learning", "MachineLearning", "DataScience")</li>
                            <li>@Html.ActionLink("Artificial Intelligence", "ArtificialIntelligence", "DataScience")</li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            FullStack Developer
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>@Html.ActionLink("HTML", "HTML", "FullStackDeveloper")</li>
                            <li>@Html.ActionLink("Css", "Css", "FullStackDeveloper")</li>
                            <li>@Html.ActionLink("Boot Strap", "BootStrap", "FullStackDeveloper")</li>
                            <li>@Html.ActionLink("T-Sql", "TSql", "FullStackDeveloper")</li>
                            <li>@Html.ActionLink("C#", "CSharp", "FullStackDeveloper")</li>

                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Electrical Engineering
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>@Html.ActionLink("Electrical Machies", "ElectricalMachies", "ElectricalEngineering")</li>
                            <li>@Html.ActionLink("Power Systems", "PowerSystems", "ElectricalEngineering")</li>
                            <li>@Html.ActionLink("Matlab", "Matlab", "ElectricalEngineering")</li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Languages
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>@Html.ActionLink("Arabic", "Arabic", "Languages")</li>
                            <li>@Html.ActionLink("English", "English", "Languages")</li>
                            <li>@Html.ActionLink("Turkish", "Turkish", "Languages")</li>
                            <li>@Html.ActionLink("Korean", "Korean", "Languages")</li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Islamic
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>@Html.ActionLink("New Muslims", "NewMuslim", "Islamic")</li>
                            <li>@Html.ActionLink("Quran", "Quran", "Islamic")</li>
                            <li>@Html.ActionLink("Sunnah", "Sunnah", "Islamic")</li>
                        </ul>
                    </li>

                    <!--<li>@Html.ActionLink("Home", "Index", "Home")</li> -->
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>



                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
