

<h2>T-Sql</h2>


<section class="video-Grid">
    <!-- Page def-->
    <div>
        <div class="Thumbnail-row">
            <!--Vertical Layout1-->
            <img class="Thumbnail" src="~/Content/Image/TSql Logo.jpg" />
        </div>

        <div class="video-info-grid">
            <!--Vertical Layout2-->

            <div>
                <!--Horizental Layout1-->
                <img class="profile-picture" src="~/Content/Image/Me - Instructor.png" />
            </div>

            <div>
                <!--Horizental Layout2-->
                <p class="video-title">
                    Learning Python - Beginner Level
                </p>

                <p class="video-author">
                    Instructor: Maher Altabbakh
                </p>

                <p class="video-stats">
                    Purchase: 273 times <br /> Last update: @DateTime.Now.ToLongDateString()
                </p>
            </div>

        </div>

    </div>
    <!-- Page def-->
    <div>
        <div class="Thumbnail-row">
            <!--Vertical Layout1-->
            <img class="Thumbnail" src="~/Content/Image/TSql Logo.jpg" />
        </div>

        <div class="video-info-grid">
            <!--Vertical Layout2-->

            <div>
                <!--Horizental Layout1-->
                <img class="profile-picture" src="~/Content/Image/Me - Instructor.png" />
            </div>

            <div>
                <!--Horizental Layout2-->
                <p class="video-title">
                    Learning Python - Beginner Level
                </p>

                <p class="video-author">
                    Instructor: Maher Altabbakh
                </p>

                <p class="video-stats">
                    Purchase: 273 times <br /> Last update: @DateTime.Now.ToLongDateString()
                </p>
            </div>

        </div>

    </div>
    <!-- Page def-->
    <div>
        <div class="Thumbnail-row">
            <!--Vertical Layout1-->
            <img class="Thumbnail" src="~/Content/Image/TSql Logo.jpg" />
        </div>

        <div class="video-info-grid">
            <!--Vertical Layout2-->

            <div>
                <!--Horizental Layout1-->
                <img class="profile-picture" src="~/Content/Image/Me - Instructor.png" />
            </div>

            <div>
                <!--Horizental Layout2-->
                <p class="video-title">
                    Learning Python - Beginner Level
                </p>

                <p class="video-author">
                    Instructor: Maher Altabbakh
                </p>

                <p class="video-stats">
                    Purchase: 273 times <br /> Last update: @DateTime.Now.ToLongDateString()
                </p>
            </div>

        </div>

    </div>
    <!-- Web Logo-->
    <div>

        <div class="Thumbnail-row">
            <!--Vertical Layout1-->
            <img class="Thumbnail" src="~/Content/Image/Zero To Hero Logo.jpg" />
        </div>

        <div class="video-info-grid">
            <!--Vertical Layout2-->

            <div>
                <!--Horizental Layout1-->
                <img class="profile-picture" src="~/Content/Image/Me - Instructor.png" />
            </div>

            <div>
                <!--Horizental Layout2-->
                <p class="video-title">
                    Learning Python - Beginner Level
                </p>

                <p class="video-author">
                    Instructor: Maher Altabbakh
                </p>

                <p class="video-stats">
                    Purchase: 273 times <br /> Last update: @DateTime.Now.ToLongDateString()
                </p>
            </div>

        </div>

    </div>


    <!-- Page def-->
    <div>
        <div class="Thumbnail-row">
            <!--Vertical Layout1-->
            <img class="Thumbnail" src="~/Content/Image/TSql Logo.jpg" />
        </div>

        <div class="video-info-grid">
            <!--Vertical Layout2-->

            <div>
                <!--Horizental Layout1-->
                <img class="profile-picture" src="~/Content/Image/Me - Instructor.png" />
            </div>

            <div>
                <!--Horizental Layout2-->
                <p class="video-title">
                    Learning Python - Beginner Level
                </p>

                <p class="video-author">
                    Instructor: Maher Altabbakh
                </p>

                <p class="video-stats">
                    Purchase: 273 times <br /> Last update: @DateTime.Now.ToLongDateString()
                </p>
            </div>

        </div>

    </div>
    <!-- Page def-->
    <div>
        <div class="Thumbnail-row">
            <!--Vertical Layout1-->
            <img class="Thumbnail" src="~/Content/Image/TSql Logo.jpg" />
        </div>

        <div class="video-info-grid">
            <!--Vertical Layout2-->

            <div>
                <!--Horizental Layout1-->
                <img class="profile-picture" src="~/Content/Image/Me - Instructor.png" />
            </div>

            <div>
                <!--Horizental Layout2-->
                <p class="video-title">
                    Learning Python - Beginner Level
                </p>

                <p class="video-author">
                    Instructor: Maher Altabbakh
                </p>

                <p class="video-stats">
                    Purchase: 273 times <br /> Last update: @DateTime.Now.ToLongDateString()
                </p>
            </div>

        </div>

    </div>
    <!-- Web Logo-->
    <div>

        <div class="Thumbnail-row">
            <!--Vertical Layout1-->
            <img class="Thumbnail" src="~/Content/Image/Zero To Hero Logo.jpg" />
        </div>

        <div class="video-info-grid">
            <!--Vertical Layout2-->

            <div>
                <!--Horizental Layout1-->
                <img class="profile-picture" src="~/Content/Image/Me - Instructor.png" />
            </div>

            <div>
                <!--Horizental Layout2-->
                <p class="video-title">
                    Learning Python - Beginner Level
                </p>

                <p class="video-author">
                    Instructor: Maher Altabbakh
                </p>

                <p class="video-stats">
                    Purchase: 273 times <br /> Last update: @DateTime.Now.ToLongDateString()
                </p>
            </div>

        </div>

    </div>
    <!-- Page def-->
    <div>
        <div class="Thumbnail-row">
            <!--Vertical Layout1-->
            <img class="Thumbnail" src="~/Content/Image/TSql Logo.jpg" />
        </div>

        <div class="video-info-grid">
            <!--Vertical Layout2-->

            <div>
                <!--Horizental Layout1-->
                <img class="profile-picture" src="~/Content/Image/Me - Instructor.png" />
            </div>

            <div>
                <!--Horizental Layout2-->
                <p class="video-title">
                    Learning Python - Beginner Level
                </p>

                <p class="video-author">
                    Instructor: Maher Altabbakh
                </p>

                <p class="video-stats">
                    Purchase: 273 times <br /> Last update: @DateTime.Now.ToLongDateString()
                </p>
            </div>

        </div>

    </div>



    <!-- Page def-->
    <div>
        <div class="Thumbnail-row">
            <!--Vertical Layout1-->
            <img class="Thumbnail" src="~/Content/Image/TSql Logo.jpg" />
        </div>

        <div class="video-info-grid">
            <!--Vertical Layout2-->

            <div>
                <!--Horizental Layout1-->
                <img class="profile-picture" src="~/Content/Image/Me - Instructor.png" />
            </div>

            <div>
                <!--Horizental Layout2-->
                <p class="video-title">
                    Learning Python - Beginner Level
                </p>

                <p class="video-author">
                    Instructor: Maher Altabbakh
                </p>

                <p class="video-stats">
                    Purchase: 273 times <br /> Last update: @DateTime.Now.ToLongDateString()
                </p>
            </div>

        </div>

    </div>
    <!-- Web Logo-->
    <div>

        <div class="Thumbnail-row">
            <!--Vertical Layout1-->
            <img class="Thumbnail" src="~/Content/Image/Zero To Hero Logo.jpg" />
        </div>

        <div class="video-info-grid">
            <!--Vertical Layout2-->

            <div>
                <!--Horizental Layout1-->
                <img class="profile-picture" src="~/Content/Image/Me - Instructor.png" />
            </div>

            <div>
                <!--Horizental Layout2-->
                <p class="video-title">
                    Learning Python - Beginner Level
                </p>

                <p class="video-author">
                    Instructor: Maher Altabbakh
                </p>

                <p class="video-stats">
                    Purchase: 273 times <br /> Last update: @DateTime.Now.ToLongDateString()
                </p>
            </div>

        </div>

    </div>
    <!-- Page def-->
    <div>
        <div class="Thumbnail-row">
            <!--Vertical Layout1-->
            <img class="Thumbnail" src="~/Content/Image/TSql Logo.jpg" />
        </div>

        <div class="video-info-grid">
            <!--Vertical Layout2-->

            <div>
                <!--Horizental Layout1-->
                <img class="profile-picture" src="~/Content/Image/Me - Instructor.png" />
            </div>

            <div>
                <!--Horizental Layout2-->
                <p class="video-title">
                    Learning Python - Beginner Level
                </p>

                <p class="video-author">
                    Instructor: Maher Altabbakh
                </p>

                <p class="video-stats">
                    Purchase: 273 times <br /> Last update: @DateTime.Now.ToLongDateString()
                </p>
            </div>

        </div>

    </div>
    <!-- Page def-->
    <div>
        <div class="Thumbnail-row">
            <!--Vertical Layout1-->
            <img class="Thumbnail" src="~/Content/Image/TSql Logo.jpg" />
        </div>

        <div class="video-info-grid">
            <!--Vertical Layout2-->

            <div>
                <!--Horizental Layout1-->
                <img class="profile-picture" src="~/Content/Image/Me - Instructor.png" />
            </div>

            <div>
                <!--Horizental Layout2-->
                <p class="video-title">
                    Learning Python - Beginner Level
                </p>

                <p class="video-author">
                    Instructor: Maher Altabbakh
                </p>

                <p class="video-stats">
                    Purchase: 273 times <br /> Last update: @DateTime.Now.ToLongDateString()
                </p>
            </div>

        </div>

    </div>


    <!-- Web Logo-->
    <div>

        <div class="Thumbnail-row">
            <!--Vertical Layout1-->
            <img class="Thumbnail" src="~/Content/Image/Zero To Hero Logo.jpg" />
        </div>

        <div class="video-info-grid">
            <!--Vertical Layout2-->

            <div>
                <!--Horizental Layout1-->
                <img class="profile-picture" src="~/Content/Image/Me - Instructor.png" />
            </div>

            <div>
                <!--Horizental Layout2-->
                <p class="video-title">
                    Learning Python - Beginner Level
                </p>

                <p class="video-author">
                    Instructor: Maher Altabbakh
                </p>

                <p class="video-stats">
                    Purchase: 273 times <br /> Last update: @DateTime.Now.ToLongDateString()
                </p>
            </div>

        </div>

    </div>
    <!-- Page def-->
    <div>
        <div class="Thumbnail-row">
            <!--Vertical Layout1-->
            <img class="Thumbnail" src="~/Content/Image/TSql Logo.jpg" />
        </div>

        <div class="video-info-grid">
            <!--Vertical Layout2-->

            <div>
                <!--Horizental Layout1-->
                <img class="profile-picture" src="~/Content/Image/Me - Instructor.png" />
            </div>

            <div>
                <!--Horizental Layout2-->
                <p class="video-title">
                    Learning Python - Beginner Level
                </p>

                <p class="video-author">
                    Instructor: Maher Altabbakh
                </p>

                <p class="video-stats">
                    Purchase: 273 times <br /> Last update: @DateTime.Now.ToLongDateString()
                </p>
            </div>

        </div>

    </div>
    <!-- Page def-->
    <div>
        <div class="Thumbnail-row">
            <!--Vertical Layout1-->
            <img class="Thumbnail" src="~/Content/Image/TSql Logo.jpg" />
        </div>

        <div class="video-info-grid">
            <!--Vertical Layout2-->

            <div>
                <!--Horizental Layout1-->
                <img class="profile-picture" src="~/Content/Image/Me - Instructor.png" />
            </div>

            <div>
                <!--Horizental Layout2-->
                <p class="video-title">
                    Learning Python - Beginner Level
                </p>

                <p class="video-author">
                    Instructor: Maher Altabbakh
                </p>

                <p class="video-stats">
                    Purchase: 273 times <br /> Last update: @DateTime.Now.ToLongDateString()
                </p>
            </div>

        </div>

    </div>
    <!-- Page def-->
    <div>
        <div class="Thumbnail-row">
            <!--Vertical Layout1-->
            <img class="Thumbnail" src="~/Content/Image/TSql Logo.jpg" />
        </div>

        <div class="video-info-grid">
            <!--Vertical Layout2-->

            <div>
                <!--Horizental Layout1-->
                <img class="profile-picture" src="~/Content/Image/Me - Instructor.png" />
            </div>

            <div>
                <!--Horizental Layout2-->
                <p class="video-title">
                    Learning Python - Beginner Level
                </p>

                <p class="video-author">
                    Instructor: Maher Altabbakh
                </p>

                <p class="video-stats">
                    Purchase: 273 times <br /> Last update: @DateTime.Now.ToLongDateString()
                </p>
            </div>

        </div>

    </div>


</section>
